/**
 * Container Component Styles
 * Mobile-first responsive container
 */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Padding variants */
.container-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Centered content */
.container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Max-width variants */
.container-sm {
  max-width: 640px;
}

.container-md {
  max-width: 768px;
}

.container-lg {
  max-width: 1024px;
}

.container-xl {
  max-width: 1280px;
}

.container-full {
  max-width: 100%;
}
